@import url(http://fonts.googleapis.com/css?family=Cabin:400,700,400italic);

$body-bg: #FBFBFB;
$font-family-sans-serif: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$navbar-height: 45px;
$navbar-inverse-bg: #646B73;
$navbar-inverse-link-color: #b9fbff;
$brand-primary: #646B73;
$jumbotron-bg: #b9fbff;

@import 'bootstrap';

.center {
     text-align: center;
}

.navbar-brand {
     font-weight: bold;
}